/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */
@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    src:
            local('Montserrat-VariableFont_wght'),
            url(Montserrat-VariableFont_wght.ttf) format('truetype  supports variations');
    font-weight: 100 900;
}

